* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #333
  color: #ecf0f1;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

header {
  background-color: #2c3e50;
  color: #c2bebe;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2em;
}

nav a {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: orange;
}

main {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

section {
  margin-bottom: 60px;
}

section h2 {
  margin-bottom: 15px;
  color: #2c3e50;
  border-bottom: 2px solid black;
  display: inline-block;
  padding-bottom: 5px;
}

section p {
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;
  font-size: larger;
  font-weight: 500;
}

section img {
  max-width: 100%;
  height: auto;
  align-items: right;
    display: block;
}

section p,
li {
  margin-bottom: 10px;
}

img {
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

#projects a {
  display: block;
  color: lab(57.47% 41.29 49.26);
  text-decoration: none;
  margin: 5px 0;
}

#projects a:hover {
  text-decoration: underline;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #16a085;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #2c3e50;
  color: white;
}

@media (max-width: 768px) {
  nav a {
    display: block;
    margin: 10px 0;
  }
}
